/*
  navbar.css - 네비게이션 바 스타일
  - 상단 네비게이션 바의 디자인을 정의
*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 40px;
  background-color: #ffffff;
  height: 75px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  width: 180px;
}

.nav-menu {
  display: flex;
  gap: 20px;
}

.nav-link {
  color: #6c6c6c;
  text-decoration: none;
  font-size: 16px;
  position: relative;
  padding-bottom: 2px;
}

.nav-link.active,
.nav-link:hover {
  color: #000000;
}

.nav-link.active::after,
.nav-link:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000000;
  position: absolute;
  bottom: 0;
  left: 0;
}

.navbar-bottom-line {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  position: relative;
  top: -1px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 30px; 
}

.username {
  font-weight: bold;
}

.login-btn {
  font-size: 16px;
  padding: 13px 21px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
}

.login-btn:hover {
  background-color: #333333;
  transform: scale(1.05);
}

.logout-btn {
  font-size: 16px;
  padding: 13px 21px;
  background-color: #F2F2F2;
  color: black;
  border: 1px solid #ccc;
  border-radius: 9999px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
}

.logout-btn:hover {
  background-color: #e0e0e0;
  transform: scale(1.05);
}