/*
  Popup.css - 로그인 & 회원가입 팝업 스타일
  - 로그인과 회원가입 팝업의 공통적인 스타일
*/

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: #fff;
  padding: 40px;
  width: 360px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  position: relative;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
}

.popup-title {
  font-size: 22px;
  font-weight: bold;
  margin: 0;
}

.popup-close {
  font-size: 25px;
  border: none;
  background: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  color: #6c6c6c;
}

.popup-close:hover {
  transform: scale(1.2);
  color: #000000;
}

.popup-label {
  text-align: left;
  display: block;
  font-size: 14px;
  margin-bottom: 6px;
}

.popup-input {
  width: 93%;
  padding: 12px;
  margin-bottom: 25px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.popup-submit-btn {
  margin-top: 5px;
  width: 100%;
  padding: 15px;
  background: black;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s ease-in-out;
}

.popup-submit-btn:hover {
  background-color: #5E18EB;
}

.popup-note {
  color: #6c6c6c;
  font-size: 12px;
  margin-top: 25px;
}

.popup-note a {
  text-decoration: none;
  font-size: 14px;
  color: black;
  display: block;
  margin-top: 7px;
}
